
.navbar
{
    width: 100%;

    background-color: inherit;

    .content
    {
        display: flex;
        justify-content: space-between;

        padding: 20px;
    }
}

.stuck
{
    position: fixed;
    top: 0;
}

.links
{
    display: flex;
    align-items: center;
    gap: 20px;
}
